body {
	font-size:12pt;
	font-family:Georgia, "Times New Roman", Times, serif;
}
h1 {
	font-size:1.5em;
	font-weight:bolder;
	padding-bottom:0.4em;
}
h2 {
	font-size:1.2em;
	font-weight:bold;
	padding-bottom:0.2em;
}
a {
	border:none;
	text-decoration:none;
	color:#000;
}
pic {
	border:0px;
}
#screenHeader,#screenSub {
	display:none;
}
#header a img {
	border-bottom-width:0px;
	border-right-width:0px;
	border-left-width:0px;
	border-top-width:0px;
}
#nav, #footer {
	display:none;
}
